@page
@model Hello_World_Razor_Page.Pages.Members.CreateMemberModel
@{
    ViewData["Title"] = "CreateMember";
}
<h1>New Member</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.member.MemberName" class="control-label"></label>
                <input asp-for="@Model.member.MemberName" class="form-control" required="" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.member.Address" class="control-label"></label>
                <input asp-for="@Model.member.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.member.Email" class="control-label"></label>
                <input asp-for="@Model.member.Email" class="form-control" required=""/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.member.Password" class="control-label"></label>
                <input asp-for="@Model.member.Password" class="form-control" required="" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.member.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.member.PhoneNumber" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
