@page
@using Hello_World_Razor_Page.Models
@model Hello_World_Razor_Page.Pages.Boats.EditPageModel
@{
    ViewData["Title"] = "Edit";
}
<div class="row">
<div class="col-md-4">
    <form method="post">
<div class="from-group">
        <label asp-for="@Model.BoatEdit.BoatId" class ="control-label"></label>
        <input asp-for="@Model.BoatEdit.BoatId" hidden="true" class="form-contol"/>

    </div>
    <div class="from-group">
        <label asp-for="@Model.BoatEdit.BoatName" class="control-label"></label>
        <input asp-for="@Model.BoatEdit.BoatName" class="form-contol" />
    </div>
    @*<div class="from-group">
        <label asp-for="@Model.Boat.Model" class ="control-label"></label>
        <input asp-for="@Model.Boat.Model" class="form-contol"/>
    </div>*@
    <div class="form-group">
        <label>BoatModel</label>
        <select asp-for="@Model.BoatEdit.Model" asp-items="Html.GetEnumSelectList<BoatModels>()" class="form-control">
            <option value="">Vælg en Bådtype</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />

    </div>
    </form>
</div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
